p {
    color: red;
    font-size: 100px;
    font-family: Verdana;
    border: 1px solid powderblue;
    padding: 30px;
}

h1 {

    color: green;
    font-size: 180px;
}

div{
    color:red;
    

}

button{
    color:red;
    font-size: larger;
}